{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1 class="text-center mt-5">Contact us</h1>
<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <form action="" method="post">
            <div class="form-group">
              {% csrf_token %}
              {{ form|crispy }}
            </div>
            <div class="form-group text-center">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <div class="text-center mt-3">
              <button type="submit" class="btn btn-primary">Send</button>
            </div>
          </form>
          </div>
          </div>
      </div>
      </div>
      </div>
{% endblock %}
