{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>

<script>
  $('button').on('click', function() {
    alert('hi');
  });
</script>
<div class="container mt-5 mb-5">
  {% if user.is_authenticated %}
    Tashi Delek !! {{ user.username }}!
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    <p><a href="{% url 'signup' %}">SignUp</a></p>
  {% else %}
    <p>Opps !!! You are not logged in</p>
    <a href="{% url 'login' %}">Log</a>
    <a href="{% url 'signup' %}">SignUp</a>
  {% endif %}
</div>
{% endblock content %}
