{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="jumbotron bg-danger">
          <img src="https://images.pexels.com/photos/804009/pexels-photo-804009.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" width=200px class="rounded-circle mt-0">
          <div class="text-center">
            <h1 class="text-white">Tenzin Sean</h1>
            <p class="lead small text-white">Web developer + Software developer</p>
          </div>
        </div>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
{% endblock %}
