{% extends 'base.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/secondPage.css' %}">
  <div class="container-fluid text-center content-second">
    <div class="row">
    <div class="container">
      <div class="row content justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 sidenav text-white mt-5 shadow-lg p-3 mb-5 bg-white rounded">
          <h2 class="display-4 mt-5 text-left">Tenzin Sean</h2>
          <p class="small text-white mt-5 ml-3 text-left">"Never give up no matters what"</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 text-left  text-black mt-5 text-center">
          <h1 class="mt-5 display-4">Welcome to Tenzin</h1>
          <p class="mt-4 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, ab.</p>
          <a href="{% url 'story' %}"><button class="btn btn-danger mt-4">HEAR ME MORE</button></a>
        </div>
        </div>
      </div>
    </div>
  </div>

  <!-- sidebar -->
  <div class="platte2 mt-4 mb-1 pt-5 pb-1 bg-danger">
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="jumbotron jumbotron-fluid bg-dark mx-5 text-center">
                <h2 class="display-4 text-white text-bold text-uppercase font-weight-bold">
                  Samsara
                </h2>
            </div>
          </div>
      </div>
    </div>
  </div>

  <!-- story -->

  <div id="story" class="third-page">
      <div class="seven mt-5 text-center mb-5">
        <h1 class="display-3">PASSION</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, architecto.</p>
      </div>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mt-3 p-2">
          {% for post in object_list %}
            <div class="card mt-0 shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
              <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap" width="100px">
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <button class="btn btn-danger btn-md mt-4 text-center">Click</button>
              </div>
            </div>
            <br/>
            {% endfor %}
        </div>



      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 mt-5">
          <div class="sideImage shadow-lg p-3 mb-5 bg-white rounded">
            <h1 class="text-white pl-3">Hi there</h1>
            <p class="lead text-white small pl-3 pt-2">Lorem ipsum dolor sit amet.</p>
            <button class="btn btn-danger btn-sm ml-3">ENROLL NOW</button>
          </div>
          <br/>
          <div class="sideImage2 shadow-lg p-3  mt-5 mb-5 bg-white rounded">
            <h1 class="pl-3 text-right text-white">Passion is the key</h1>
            <p class="lead text-white small pl-3 pt-2 text-right">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Fith section travel -->
  <div class="platte2 mt-1 mb-1 pt-5 pb-1 bg-dark">
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="jumbotron jumbotron-fluid bg-danger text-center">
            <h2 class="display-4 text-white text-bold text-uppercase font-weight-bold">
              I AM ALIVE
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Six story part -->

  <article>
      <div class="seven mt-5 text-center mb-5">
        <h1 class="display-3">STORY</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, architecto.</p>
      </div>
      <div class="row justify-content-start">
          <div class="col-12 col-sm-12 col-md-6 col-6 text-white align-self-center image-1">
            <div class="text-first text-center">
              <h4 class="display-4 font-weight-bold pb-4">STORY MY GRAND PARENTS</h1>
              <span><span>
              <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, ut.</p>
              <a href="{% url 'story' %}" class="text-white"><button class="btn btn-danger">ENROLL</button></a>
            </div>
          </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 bg-danger text-white image-2 pb-5 image-2">
          <h1>Story 1</h1>
        </div>
      </div>
      <div class="row justify-content-start">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 bg-success text-white image-3 pb-5">
              <h1 class="ml-5">hi there</h1>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-6 bg-dark text-white pb-5">
              <div class="text-first text-center">
                <h4 class="display-4 font-weight-bold pb-4">MA STORY</h1>
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, ut.</p>
                <button class="btn btn-danger">ENROLL</button>
              </div>
            </div>
            </div>
  </article>


  <!--seventh story -->

  <div class="seven mt-5 text-center mb-5">
    <h1 class="display-3">TRAVEL AND FOODS</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, architecto.</p>
  </div>

  <div class="box">
    <div class="container">
     	<div class="row">
			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="box-part text-center">
                    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
						<div class="title">
							<h4>Paris</h4>
						</div>
						<div class="text">
              <img src="" alt="">
						</div>
						<a href="{% url 'travel' %}"><button class="btn btn-danger">Learn More</button></a>
					 </div>
				</div>

				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="box-part text-center">
					    <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
						<div class="title">
							<h4>Venice</h4>
						</div>
						<div class="text">
              <img src="" alt="">
						</div>
						<a href="{% url 'travel' %}"><button class="btn btn-danger">Learn More</button></a>
					 </div>
				</div>
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">

                        <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>

						<div class="title">
							<h4>Florence</h4>
						</div>

						<div class="text">
              <img src="" alt="">
						</div>
						<a href="{% url 'travel' %}"><button class="btn btn-danger">Learn More</button></a>
					 </div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="box-part text-center">
                <i class="fa fa-pinterest-p fa-3x" aria-hidden="true"></i>
						<div class="title">
							<h4>India</h4>
						</div>
						<div class="text">
              <img src="" alt="">
						</div>
						<a href="{% url 'travel' %}"><button class="btn btn-danger">Learn More</button></a>
					 </div>
				</div>
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="box-part text-center">
					    <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>
						<div class="title">
							<h4>New York</h4>
						</div>
						<div class="text">
              <img src="" alt="">
						</div>
						<a href="{% url 'travel' %}"><button class="btn btn-danger">Learn More</button></a>
					 </div>
				</div>
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="box-part text-center">
                        <i class="fa fa-github fa-3x" aria-hidden="true"></i>
						<div class="title">
							<h4>Canada</h4>
						</div>
						<div class="text">
              <img src="" alt="">
						</div>
						<a href="{% url 'travel' %}"><button class="btn btn-danger">Learn More</button></a>
					 </div>
				</div>
		</div>
    </div>
</div>

<!-- eight-->



{% endblock content %}
