{% extends "base.html" %}

{% block title %}Chaptre Tears in Tibet {% endblock %}

{% block content %}
  <h1 class="display-3 text-center mt-4 mb-5">Tears in Tibet</h1>
  {% for post in object_list %}
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <img class="card-img-top" src="{{ post.pic_one.url }}" alt="Card image cap" width="298px">
            <h1 class="card-title mt-4">{{ post.chaptre }}</h1>
            <h4 class="lead mt-5">{{ post.title_chap }}</h4>
          </div>
        </div>
      </div>
      <form action="{% url 'like_post' %}" method="post">
        {% csrf_token %}
        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-success">likes</button>
      </form>
  {% endfor %}

  {% with comments.count as total_comments %}
    <h2>
      {{ total_comments }} comment {{ total_comments|pluralize }}
    </h2>
  {% endwith %}
  {% for comment in comments %}
    <div class="comment">
      <p class="info">
        Comment {{ forloop.counter }} by {{ comment.name }}
        {{ comment.created }}
      </p>
      {{ comment.body| linebreaks }}
    </div>
    {% empty %}
      <p>There are no comments yet</p>
    {% endfor %}
  {% if new_comment %}
    <h2>Your new comment has benn added</h2>
    <form action="." method="post">
      {{ comment_form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Add comment"></p>
    </form>
  {% endif %}
{% endblock %}
