{% extends "base.html" %}

{% block title %}Pola Story {% endblock %}

{% block content %}

<h2 class="display-4 text-center mt-5 mb-5">My family Chabdeltsang</h2>
{% for post in object_list %}
<div class="container mt-4 mb-5">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ post.pic_two.url }}" alt="Card image cap" width="298px">
        <div class="card-body">
          <h2 class="card-title">{{ post.chaptre1 }}</h2>
          <h4 class="lead">{{ post.title_chap1 }}</h4>
          <a href="{% url "chabChap1" %}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
